.btn{
    padding: 10px 25px;
    border-width: 2px;
    border-radius: 30px;
    font-size: 14px;
    font-family: $font-montserrat;
    font-weight: 600;

    &.btn-lg{
        font-size: 18px;
    }

    &.btn-icon{
        display: inline-flex;
        align-items: center;
        .mdi{
            font-size: 30px;
            margin-right: 25px;
        }
    }
}
