body{
    font-family: $font-roboto;
    font-size: 14px;
    color: $default-text;
    background-color: $body-bg;
    font-weight: 300;
}

*{
    outline: none;
}

a{
    transition: all 0.3s ease-in-out;
    text-decoration: none;

    &:hover, &:active{
        text-decoration: none;
        outline: none;
    }
}

p{
    strong{
        font-weight: 500;
    }

    small{
        font-size: 12px;
    }
}

.container{
    max-width: 1110px;
}

section{
    padding: 50px 0;
    position: relative;

    &.separator{
        &:after{
            position: absolute;
            content: "";
            width: 90px;
            height: 5px;
            background-color: #f1f1f1;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}


.title{
    margin-bottom: 30px;
    text-align: center;

    h3{
        font-family: $font-montserrat;
        font-weight: 700;
        margin-bottom: 0;
    }

    h4{
        font-family: $font-montserrat;
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 0;
    }
}

.mdi{
    line-height: 1;
}
