.header{
    &__top{
        .navbar{
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #f1f1f1;
            background-color: $white;

            .navbar-collapse{
                align-items: flex-start;
            }

            .navbar-nav{
                align-items: center;
                .nav-item{
                    margin-right: 25px;
                    position: relative;
                    .nav-link{
                        padding: 0;
                        font-size: 14px;
                        color: $default-text;
                        display: flex;
                        align-items: center;
                        font-weight: 300;
                        i, .mdi{
                            margin-right: 10px;
                            font-size: 18px;
                            line-height: 1;
                        }

                        &--member{
                            align-items: center;
                            i, .mdi{
                                font-size: 28px;
                                margin-right: 5px;
                                line-height: 1;
                            }
                        }

                        &:hover{
                            color: $primary;
                        }
                    }

                    &__news{
                        display: flex;
                        &__ribbon{
                            background-color: $primary;
                            position: relative;
                            padding: 5px 7px;
                            color: $white;
                            transform: translateY(-10px);
                            margin-right: 10px;
                            padding-bottom: 0;
                            .mdi{
                                font-size: 18px;
                            }
                            &:before {
                                position:absolute;
                                bottom: -10px;
                                left: 0;
                                content: "";
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 10px 15px 0 0;
                                border-color: $primary transparent transparent transparent;
                            }
                            &:after {
                                position:absolute;
                                bottom: -10px;
                                right: 0;
                                content: "";
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 0 15px 10px 0;
                                border-color: transparent $primary transparent transparent;
                            }
                        }
                        &__link{
                            margin-right: 5px;
                            font-size: 12px;
                            color: $default-text;
                            font-weight: 300;
                            transform: translateY(-5px);
                            &:hover{
                                color: $primary;
                            }
                        }
                    }

                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &__bottom{
        .navbar{
            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #f1f1f1;
            background-color: $white;

            .navbar-brand{
                padding: 0;
                img{
                    height: 52px;
                    width: auto;
                }
            }

            .navbar-nav{
                .nav-item{
                    margin-right: 30px;
                    .nav-link{
                        padding: 10px 0;
                        color: $default-text;
                        font-size: 16px;
                        font-weight: 300;

                        &:hover, &.active{
                            color: $primary;
                        }
                    }

                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
