.header{
    &__top{
        @include device(tablet){
            display: none;
        }
        @include device(mobile){
            display: none;
        }
        .navbar{
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #f1f1f1;
            background-color: $white;

            .navbar-collapse{
                align-items: flex-start;
            }

            .navbar-nav{
                align-items: center;
                .nav-item{
                    margin-right: 25px;
                    position: relative;
                    .nav-link{
                        padding: 0;
                        font-size: 14px;
                        color: $default-text;
                        display: flex;
                        align-items: center;
                        font-weight: 300;
                        i, .mdi{
                            margin-right: 10px;
                            font-size: 18px;
                            line-height: 1;
                        }

                        &--member{
                            align-items: center;
                            i, .mdi{
                                font-size: 28px;
                                margin-right: 5px;
                                line-height: 1;
                            }
                        }

                        &:hover{
                            color: $primary;
                        }
                    }

                    &__news{
                        display: flex;
                        &__ribbon{
                            background-color: $primary;
                            position: relative;
                            padding: 5px 7px;
                            color: $white;
                            transform: translateY(-10px);
                            margin-right: 10px;
                            padding-bottom: 0;
                            .mdi{
                                font-size: 18px;
                            }
                            &:before {
                                position:absolute;
                                bottom: -10px;
                                left: 0;
                                content: "";
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 10px 15px 0 0;
                                border-color: $primary transparent transparent transparent;
                            }
                            &:after {
                                position:absolute;
                                bottom: -10px;
                                right: 0;
                                content: "";
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 0 15px 10px 0;
                                border-color: transparent $primary transparent transparent;
                            }
                        }
                        &__link{
                            margin-right: 5px;
                            font-size: 12px;
                            color: $default-text;
                            font-weight: 300;
                            transform: translateY(-5npx);
                            &:hover{
                                color: $primary;
                            }
                        }
                    }

                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &__bottom{
        .navbar{
            $self: &;
            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #f1f1f1;
            background-color: $white;

            @include device(tablet){
                padding-top: 10px;
                padding-bottom: 10px;
            }

            @include device(mobile){
                padding-top: 5px;
                padding-bottom: 5px;
            }

            .navbar-brand{
                padding: 0;
                img{
                    height: 52px;
                    width: auto;

                    @include device(tablet){
                        height: 33px;
                    }

                    @include device(mobile){
                        height: 33px;
                    }
                }
            }

            &__nav-mobile {
                display: none;

                @include device(tablet){
                    display: flex;
                    margin-left: auto;
                }

                @include device(mobile){
                    display: flex;
                    margin-left: auto;
                }

                .navbar-nav{
                    @include device(tablet){
                        flex-direction: row;
                        align-items: center;
                        .nav-item{
                            margin-left: 30px;
                            border: none !important;

                            .nav-link{
                                .mdi-menu {
                                    font-size: 30px;
                                }
                            }
                        }
                    }

                    @include device(mobile){
                        flex-direction: row;
                        align-items: center;
                        .nav-item{
                            margin-left: 30px;
                            border: none !important;

                            .nav-link{
                                .mdi-menu {
                                    font-size: 30px;
                                }
                            }
                        }
                    }

                }
            }

            .navbar-nav{
                .nav-item{
                    margin-right: 30px;
                    @include device(tablet){
                        margin-right: 0;
                        border-top: 1px solid #f1f1f1;
                    }

                    @include device(mobile){
                        margin-right: 0;
                        border-top: 1px solid #f1f1f1;
                    }
                    .nav-link{
                        padding: 10px 0;
                        color: $default-text;
                        font-size: 16px;
                        font-weight: 300;
                        text-align: center;

                        &:hover, &.active{
                            color: $primary;
                        }
                    }

                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
