.hero{
    &__caption{
        h1{
            font-family: $font-montserrat;
            margin-bottom: 20px;
        }
        h2{
            font-weight: 300;
            font-size: 30px;
            margin-bottom: 34px;
            font-family: $font-montserrat;
        }

        h6{
            margin-bottom: 15px;
            display: flex;
            align-items: baseline;

            i, .mdi{
                margin-right: 10px;
                font-size: 20px;
            }
        }
    }
}

.packages{
    $self: &;
    .title{
        margin-bottom: 70px;
        h3{
            margin-bottom: 10px;
        }
        h4{
            font-size: 24px;
        }
    }

    &__card{
        border-color: #f1f1f1;
        text-align: center;
        transition: all 0.3s ease-in-out;
        position: relative;

        @include device(tablet){
            margin-bottom: 30px;
        }

        @include device(mobile){
            margin-bottom: 30px;
        }

        &__ribbon {
            width: 115px;
            height: 115px;
            overflow: hidden;
            position: absolute;
            top: -11px;
            left: -11px;
            z-index: 2;

            &:before,
            &:after {
                position: absolute;
                z-index: -1;
                content: '';
                display: block;
                border: 5px solid #007933;
                border-top-color: transparent;
                border-left-color: transparent;
            }

            &:before{
                top: 0;
                right: 0;
            }

            &:after{
                bottom: 0;
                left: 0;
            }

            span {
                position: absolute;
                display: block;
                width: 165px;
                padding: 10px 0;
                background-color: $success;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
                color: $white;
                font-size: 14px;
                font-family: $font-montserrat;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
                right: -12px;
                top: 20px;
                transform: rotate(-45deg);
            }
        }

        &__name{
            padding: 10px 15px;
            border-bottom: 1px solid #f1f1f1;

            h4{
                font-family: $font-montserrat;
                font-weight: 700;
                margin-bottom: 0;
            }
        }

        &__price{
            padding: 15px;
            border-bottom: 1px solid #f1f1f1;
            &--normal{
                h6{
                    margin-bottom: 0;
                    font-family: $font-montserrat;
                    text-decoration: line-through;
                }
            }

            &--discounted{
                h4{
                    font-family: $font-montserrat;
                    margin-bottom: 0;
                    sup{
                        top: -1.5em;
                        font-size: 16px;
                        font-weight: normal;
                        margin-right: 10px;

                        strong{
                            font-weight: 700;
                        }
                    }
                    font-size: 50px;
                    font-weight: 700;
                }
            }
        }

        &__registrants{
            padding: 10px 15px;
            border-bottom: 1px solid #f1f1f1;
            p{
                margin-bottom: 0;
            }
        }

        &__values{
            padding: 30px 15px;
            p{
                margin-bottom: 5px;

                .mdi{
                    font-size: 18px;
                }
            }
        }

        &__action{
            margin-top: 30px;
        }

        &--best-seller{
            border-color: $primary;

            #{ $self }__card{
                &__name{
                    background-color: $primary;
                    border-color: $primary;
                    h4{
                        color: $white;
                    }
                }
                &__price{
                    background-color: $primary;
                    border-color: $primary;

                    &--normal{
                        h6{
                            color: $white;
                        }
                    }

                    &--discounted{
                        h4{
                            color: $white;
                        }
                    }
                }
                &__registrants{
                    background-color: #007fde;
                    border-color: #007fde;
                    p{
                        color: $white;
                    }
                }
            }
        }

        &:hover{
            transform: translateY(-10px);
        }
    }

}

.php-limit{
    table{
        &.table{
            tr{
                td{
                    p{
                        position: relative;

                        .mdi{
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            color: $success;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

.laravel-support{
    h5{
        font-family: $font-montserrat;
        font-weight: 300;
        margin-bottom: 20px;
        line-height: 1.5;
    }

    h6{
        margin-bottom: 10px;
        line-height: 1.5;
        display: flex;
        align-items: baseline;

        .mdi{
            font-size: 18px;
            margin-right: 10px;
        }
    }
}

.php-modules{
    .title{
        margin-bottom: 65px;
    }

    &__list{
        p{
            margin-bottom: 0;
            font-size: 16px;
            padding-left: 80px;

            @include device(tablet){
                padding-left: 0;
            }

            @include device(mobile){
                padding-left: 0px;
            }
        }
    }
}

.linux-hosting{
    .title{
        h4{
            font-size: 28px;
        }
    }
}

.share{
    padding: 25px 0;
    background-color: #f7f7f7;

    &__caption{
        font-weight: 400;
        color: #303030;
        margin-bottom: 0;

        @include device(mobile){
            margin-bottom: 15px;
        }
    }

    &__socials{
        display: flex;
        &__item{
            display: flex;
            margin-right: 10px;
            transition: all 0.3s ease-in-out;

            &__icon{
                margin-right: 5px;
                img{
                    height: 33px;
                    width: auto;
                }
            }

            &__counter{
                min-width: 60px;
                height: 33px;
                border-radius: 0.25rem;
                position: relative;
                border: 1px solid #cdcdcd;
                text-align: center;
                color: #96969d;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                background-color: #f7f7f7;

                &:before{
                    position: absolute;
                    content: "";
                    left: -5px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 5px 5px 5px 0;
                    border-color: transparent #f7f7f7 transparent transparent;
                    z-index: 1;
                }
                &:after{
                    position: absolute;
                    content: "";
                    left: -6px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 6px 6px 6px 0;
                    border-color: transparent #cdcdcd transparent transparent;
                }

                h6{
                    margin-bottom: 0;
                }
            }

            &:hover{
                transform: translateY(-5px);
            }
        }
    }
}

.cta{
    padding: 60px 0;
    background-color: #00a2f3;
    color: $white;

    @include device(tablet){
        text-align: center;
    }

    @include device(mobile){
        text-align: center;
    }

    &__caption{
        font-family: $font-montserrat;
        margin-bottom: 0;
        padding: 5px 0;

        @include device(tablet){
            margin-bottom: 20px;
        }

        @include device(mobile){
            margin-bottom: 20px;
        }

        a{
            color: $white;
        }
    }

    .border-right{
        border-color: #00b3fd !important;

        @include device(tablet){
            border: none !important;
        }

        @include device(mobile){
            border: none !important;
        }
    }
}
