.border-bottom{
    border-color: #f1f1f1 !important;
}

.font{
    &-montserrat{
        font-family: $font-montserrat !important;
    }
}

.text{
    &-primary{
        color: $primary !important;
    }
}

.hide{
    &-mobile{
        @include device(mobile){
            display: none !important;
        }
    }
}

.show{
    &-mobile{
        display: none;

        @include device(mobile){
            display: block !important;
        }
    }
}
