// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #008fee;
$success: #00b348;
$default-text: #4c4c4c;
